flexFn(align=stretch, justify=flex-start, direction=row)
  display -webkit-flex
  display flex
  -webkit-align-items align
  align-items align
  -webkit-justify-content justify
  justify-content justify
  -webkit-flex-direction direction
  flex-direction direction
ellipsis()
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
border-radius()
  vendor('border-radius', arguments)
